body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

img {
  border-radius: 2px;
}

a {
  text-decoration: none;
}

/*############# Black Mode ###############*/

.body-black-mode {
  background-color: rgb(17, 16, 16);
  color: white;
}

.bouton-blackMode {
  cursor: pointer;
}

/*-****************** IMG ***********************-*/

.galery-content__ligne {
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: black; */
}

.img-margin_top {
  margin-top: 5%;
}

.img-double {
  margin: 0;
  width: 50%;
  /* width: 49.36%; */
}

.img-grandFormat {
  margin: 0;
  width: 100%;
}

.img-haute {
  margin: 0;
  width: 50%;
}

.gap {
  width: 5%;
}

.img {
  cursor: pointer;
}

/*----------------------------- Header ----------------------------*/
@media screen and (min-width: 650px) {
    .photos-profil {
        position: absolute;
        top: -200000000000000px;
    }
    .header-right {
        text-align: left;
      }
}

.photos-profil {
  border-radius: 300px;
  text-align: left;
  width: 20%;
}


header {
  margin-left: 35px;
  margin-right: 50px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.header-right {
  text-align: right;
}

.uil-moon {
  font-size: 1.5rem;
  width: 10%;
}



h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
h2 {
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: black;
}
.h2-blackMode {
  color: white;
}
.header-h2__instagram {
  color: black;
}
.h2__instagram-blackMode {
  color: white;
}

/*############## FOOTER ##############*/

footer {
    margin-top: 5px;
    height: 20vh;
    background-color: rgba(199, 199, 199, 0.486);
}

footer div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 10px;
}
.footer-content {
    margin-top: 20px;
}

.footer-lien {
    cursor: pointer;
}